<div class="parallax" id="banner">
  <div class="container-fluid" id="primero">
    <div class="row">
      <div class="col-lg-12">
        <div id="content">
          <h1>¿Quieres ser parte de la familia JourneyBooking.com?</h1>
          <h3>Continua abajo.</h3>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>

<div class="container" id="formulario">
  <h2>Deja que nosotros te ayudemos a crecer en tu negocio de hoteleria.</h2>
  <h3>Agrega tus hoteles con nosotros y emprezarás a ser parte de la familia JourneyBooking.com</h3>

  <br/>
  <br/>
  <form (ngSubmit)="addHotel()">
    <div class="container ">
      <div class="row">
        <div class="col-lg-5 border">
          <div class="container">
            <div class="row">
              <input type="text" name="nombre" placeholder="Nombre del hotel" [(ngModel)]="hotel.nombre" required>
            </div>
            <div class="row">
              <input type="number" name="costoHabitacion" placeholder="Costo por habitación" [(ngModel)]="hotel.costoHabitacion" required>
            </div>
            <div class="row">
              <input type="number" placeholder="Latitud" name="latitud" [(ngModel)]="hotel.latitud" required>
            </div>
            <div class="row">
              <input type="number" placeholder="Longitud" name="longitud" [(ngModel)]='hotel.longitud' required>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <button class="btn waves-effect waves-light" type="submit" name="action" value="Agregar">
                  <i class="material-icons right">send</i>Agregar
                </button>
              </div>
              <div class="col-lg-6">
                <button class="btn waves-effect red darken-4" type="button" name="action" value="Cancelar" (click)="nada()">Cancelar
                </button>
              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="click($event)">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
      </div>

    </div>

  </form>
</div>
<br/>
<footer class="page-footer indigo darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">JourneyBooking se encuentra ubicada en el sur de la ciudad de Cali, en colombia. Es propiedad de la Universidad Icesi.</p>
        <p>Desarrolladores y Arquitectos</p>
        <p>Yesid Leonardo Lopéz</p>
        <p>Christian Osorio Trejos</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Siguenos en:</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3">
              <i class="fab fa-facebook-square"></i> Facebook</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3">
              <i class="fab fa-twitter"></i> Twitter</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3">
              <i class="fab fa-instagram"></i> Instagram</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3">
              <i class="fab fa-pinterest"></i> Pinterest</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">Propiedad intelectual</a>
    </div>
  </div>
</footer>
