<div id="contentCards">
    <h1>Resultado de la busqueda</h1>
    <div class="container">
      <div class="rogw">
        <div class="col s12 m3 l2">
          <div class="card" id="card">
            <div class="card-image">
              <img src="https://jadendreamer.files.wordpress.com/2014/04/maps.png?w=640">
              <span class="card-title black-text">Card Title</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">add</i>
              </a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                little markup to use effectively.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l2">
          <div class="card" id="card">
            <div class="card-image">
              <img src="https://jadendreamer.files.wordpress.com/2014/04/maps.png?w=640">
              <span class="card-title black-text">Card Title</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">add</i>
              </a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                little markup to use effectively.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l2">
          <div class="card" id="card">
            <div class="card-image">
              <img src="https://jadendreamer.files.wordpress.com/2014/04/maps.png?w=640">
              <span class="card-title black-text">Card Title</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">add</i>
              </a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                little markup to use effectively.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m3 l2">
          <div class="card" id="card">
            <div class="card-image">
              <img src="https://jadendreamer.files.wordpress.com/2014/04/maps.png?w=640">
              <span class="card-title black-text">Card Title</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">add</i>
              </a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                little markup to use effectively.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>