<div class="card">
  <div class="container">
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>
  <div class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little
      markup to use effectively.</p>
      <button class="btn btn-outline-primary mb-1" (click)="openLg(contenido)">Large modal</button>
  </div>
</div>

<ng-template #contenido let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

 