<!--The content below is only a placeholder and can be replaced.-->
<nav class="indigo darken-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">JourneyBooking</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a routerLink="hotel">Busca tu hotel</a>
        </li>
        <li>
          <a routerLink="nuevo-hotel">Agrega un hotel</a>
        </li>
        <li>
          <a routerLink="sobre-nosotros">Sobre nosotros</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
  
  

 




